body{
  background-color: #EDEDED;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
a{
  text-decoration: none;
  color: #EDEDED;
}
.logo{
  width: 110px;
}
p{
  font-size: 1.5em;
}
.navbar{
  padding-top: 16px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.tytle{
  margin: 0 auto 16px auto;
  text-align: center;
  line-height: 1.6em;
  width: 100%;
}
.custm{
  display: none;
}
.bg-darkk{
  background-color: #222831;
}
.tytle h3{
  font-family: 'Lobster Two', cursive;
  font-size: 1.5em;
  letter-spacing: .05em;
  color: #EDEDED;
  text-transform: none;
}
.tytle h1{
  font-size: 2em;
  letter-spacing: .05em;
  font-family: 'Quicksand', sans-serif;
  color: #EDEDED;
  text-transform: none;
}
.navbarr{
  background-color: #222831;
  height:360px;
  width: 168px;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  position: fixed;
  left: 20px;
  top: 210px;
  border: 1.5px;
  border-style: solid;
  border-color: #EDEDED;
}
.navbar-box{
  color: #EDEDED;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  margin: 10px auto 16px auto;
  text-align: center;
}
a:hover{
  color: #787A91;
}
.mess{
  text-align: center;
}
#middle-container{
  text-align: left;
  color: #222831;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin: 4% 0 5% 0;
}
.intro{
  margin-right: 30px;
  font-weight: bold;
}
.btn-dark{
  background-color: #222831;
}
.btn: hover{
  opacity: 0.1;
}
.btn{
  margin: 36px 180px 10px 200px;
}
.my-picture{
  border-radius: 10px;
  width: 86%;
}
.connections{
  text-align: center;
  margin: 12px auto 12px auto;
} 
.icon{
  width: 35px;
  margin: 15px 8px 8px;
}
.icon:hover{
  opacity: 0.84;
}
#skills-container{
  background-color: #222831;
  color: #EDEDED;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  height: 500px;
  margin: 30px auto 15px auto;
  padding: 15px 18px 15px 18px;
}
.change{
  position: absolute;
  left: 10px;
  top: 20px;
}
#skills-container .midd{
  padding-left: 50px;
}
@media (max-width: 800px){
  .logo{
    width: 60px;
  }
  .change{
    top: 40px;
  }
  .navbarr{
    display: none;
  }
  .my-picture{
    width: 45%;
  }
  /* .navbarr{
    width: 16%;
  } */
  /* .navbar-box{
    font-size: 20px;
  } */
  #middle-container{
    text-align: center;
  }
  .intro{
    text-align: left;
    margin-left: 20px;
  }
  .midd{
    display: none;

  }
  .tytle{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 7px;
  }
  .tytle h1{
    font-size: 1.8em;
    letter-spacing: .05em;
  }
  .tytle h3{
    font-size: 1.28em;
    letter-spacing: .02em;
  }
  .custm{
    display: inline-block;
  }
}
